* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family:Roboto, sans-serif;
}

/* top section */
.top-section {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
}

/*header part of top section*/
.header {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 15px 0 0;
}

#book-logo {
    margin-right: auto;
    width: 45px;
    height: auto;
}

.header > a {
    color: #fff;
    text-decoration: none;
}

/* margin for the website edges */
.header, .hero {
    margin: 0 15%;
}

/*hero part of top section*/
.hero {
    display: flex;
    gap: 5%;
    padding: 80px 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 15px;
}

.hero-image {
    flex: 1;
    display: flex;
}

#gemmara-image {
    width: 100%;
    height: 100%;
    object-fit:contain
}

.hero-title{
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}

.hero-subtext, .header > a {
    font-size: 20px;
    color: #e5e7eb;
}

 button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: #fff;
    align-self: flex-start;
    border-radius: 8px;
    font-weight: 700;
    border: none;
}


/* Products section */
.products-section {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    padding-bottom:80px ;
    align-items: center;
}

.products-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 35px;
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 10px;
}

.item > .image-container {
    width: 160px;
    height: 160px;
    border-radius: 15px;
}

.item > p {
    text-align: center;
    font-size: 16px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    border: 4px solid #3882f6;
}


/* quote section */
.quote-section {
    background-color: #e5e7eb;
    padding: 110px 0;
}

#quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    margin: 0 22%;
}

#quote-writer {
    font-size: 25px;
    font-weight: 800;
    text-align: end;
    margin:0 25%;
}


/* sign-up section */
.sign-up-section {
    display: flex;
    margin: 5% 15%;
    background-color: #3882f6;
    padding: 40px 100px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sign-up-text {
    color: #fff;
    font-size: 24px;
    flex: 1;
}

.sign-up-text > .text {
    font-weight: 900;
    font-size: 30px;
}

.sign-up-section > button {
    border: 2px solid white;
    align-self: center;
}